[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/hugo-theme-shell"]
	path = themes/hugo-theme-shell
	url = https://github.com/Yukuro/hugo-theme-shell.git
